:root {
  --section-padding: 80px;
  --main-color: #19c8fa;
  --secondary-color: rgb(15 116 143 / 70%);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* Main container style in each section */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


html {
  scroll-behavior: smooth;
}

/*decoration for headings of each section */
.heading-decor {
  margin: 0px auto;
  padding: 0;
  position: relative;
  width: fit-content;
  text-transform: uppercase;
  font-size: 40px;
}

.heading-decor::after {
  content: '';
  z-index: 7;
  position: absolute;
  left: 0%;
  width: 70%;
  height: 1px;
  background-color: #000000;
  bottom: -45%;
  transform: translate(20%, -1.5px);
}

.heading-decor::before {
  content: '';
  position: absolute;
  z-index: 8;
  left: 50%;
  bottom: -57%;
  transform: translate(-50%, 0);
  width: 7%;
  padding-bottom: 7%;
  height: 0;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.heading-decor+p {
  padding-top: 40px;
  text-align: center;
  width: 50%;
  margin: 0px auto;
  color: #777;
  font-size: 16px;
}

.option-box {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.option.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}


.option:not(.active):hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  cursor: pointer;
}


.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  padding: 25px 0px 30px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .container::before {
  content: '';
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -30px;
  left: 15px;
}

.header .logo img {
  width: 125px
}

/* Small */
@media (max-width: 767px) {
  .header .links {
    display: none;
  }

}

.header .links li {
  display: inline-block;
}

.header .links-search {
  display: flex;
  align-items: center;
}

.header .links-search i {
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  transform: translate(0, -2.5px);
  cursor: pointer;
}

.header .links-search p {
  display: inline-block;
  margin: 0;
}

.header .links-search p::first-letter {
  color: white;
  font-size: 30px;
  font-weight: 100;
  padding-left: 10px;
  padding-right: 10px;
}

.header .links a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.header .links li:first-of-type a {
  color: var(--main-color);
}


.header .links li:first-of-type a::before,
.header .links li:not(:first-of-type):hover a::before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  bottom: calc(-65% - 30px);
  left: 0;
}

.header .links li:first-of-type a::before {
  width: 110%;
}

.header .links li:not(:first-of-type):hover a {
  color: var(--main-color);
}


.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  height: 100vh;
}

.landing .option-box {
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.landing .angle-left,
.landing .angle-right {
  position: absolute;
  top: 50%;
  text-decoration: none;
  font-size: 28px;
  color: #ffffff;
  font-weight: bolder;
  transform: translate(-50%, -50%);
}

.landing .angle-left {
  left: 3%;
}

.landing .angle-right {
  right: 3%;
}

.landing .landing-content {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--secondary-color);
  padding: 2% 5% 2% 10%;
}

.landing .landing-content p {
  color: #ffffff;
  line-height: 1.6;
  margin: 20px 0px;
}

.landing .landing-content p:first-of-type {
  color: #ffffff;
  font-size: 32px;
}

/* Small */
@media (max-width: 767px) {
  .landing .landing-content {
    width: 100%;
  }

  .landing .landing-content p {
    line-height: 1.2;
  }

  .landing .angle-left,
  .landing .angle-right {
    display: none;
  }
}




.services {
  padding: var(--section-padding) 0px;
}


.services .services-content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 45%));
  justify-content: space-between;
}

.service .service-text {
  padding-left: 40px;
}


.services .service {
  padding-right: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
}

/* Small */
@media (max-width: 732px) {
  .services .service-text {
    text-align: center;
    padding: 20px 0px 0px;
  }

  .services .services-content {
    justify-content: center;
    align-items: center;
  }

  .services .service {
    flex-direction: column;
    align-items: center;
  }

}

.services .service h2 {
  margin: 0px;
  font-size: 21px;
  color: var(--main-color);
}

.services .service p {
  color: #777;
  font-size: 16px;
  line-height: 1.8;
}

.design {
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  height: 95vh;
  position: relative;
  overflow-y: hidden;
}

.design .design-content {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  background-color: var(--secondary-color);
  padding: 3% 10% 1% 5%;
  color: #ffffff;
}

.design .mobile-img {
  position: absolute;
  left: 12%;
  bottom: -20%
}

/* Small */
@media (max-width: 767px) {
  .design .design-content {
    width: 100%;
  }

  .design .mobile-img {
    display: none;
  }
}

.design .design-content span {
  font-size: 25px;
  text-transform: uppercase;
}

.design .design-content ul {
  padding: 60px 0px 30px;
}

.design .design-content li {
  font-size: 18px;
  padding-bottom: 30px;
}


.design .design-content i {
  padding-right: 30px;
}


.portfolio {
  padding: var(--section-padding) 0px;
  position: relative;
}

.portfolio .portfolio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .portfolio-sections {
  padding: 60px 0px;
  font-size: 16px;
}

.portfolio .portfolio-sections li {
  display: inline-block;
  padding: 10px;
}

.portfolio .portfolio-sections li:first-of-type {
  color: #ffffff;
  background-color: var(--main-color);
}

.portfolio .portfolio-content .shuffle-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Medium */
@media (max-width: 991px) {
  .portfolio .portfolio-content .shuffle-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small */
@media (max-width: 767px) {
  .portfolio .portfolio-content .shuffle-content {
    grid-template-columns: .8fr;
    justify-content: center;
  }
}



.portfolio .portfolio-content .shuffle {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-content .shuffle img {
  transition: all 0.5s;
  width: 100%;
}

.portfolio .portfolio-content .shuffle:hover::before {
  content: "Awesome Image";
  position: absolute;
  bottom: 17.5%;
  left: 0%;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 1.2em;
  width: 100%;
  height: 15%;
  background-color: #ffffff;
  z-index: 2;
}

.portfolio .portfolio-content .shuffle:hover::after {
  content: "Photography";
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding-left: 5%;
  padding-bottom: 2.5%;
  font-size: 1.2em;
  width: 100%;
  height: 15%;
  background-color: #ffffff;
  z-index: 2;
  color: var(--main-color);
}

.portfolio .portfolio-content .shuffle:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .portfolio-content .more {
  margin-top: 40px;
  padding: 15px 20px;
  color: #ffffff;
  background-color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.video {
  position: relative;
}

.video video {
  width: 100%;
}


.video::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.video .video-caption {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 32%;
  background-color: var(--secondary-color);
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.video .video-caption span:first-of-type {
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 24px;
}

.video .video-caption span:last-of-type {
  padding-bottom: 24px;
  font-size: 16px;
}

.video .video-caption a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #000000;
}

/* Small */
@media (max-width: 767px) {

  .video .video-caption {
    height: 80%;
  }

  .video .video-caption span:first-of-type {
    font-size: 20px;
  }
}

.about-us {
  padding: var(--section-padding) 0px 0px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Small */
@media (max-width: 767px) {
  .about-us {
    height: 70vh;
  }
}

.about-us .about-img {
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 55%;
  height: fit-content;
}

.about-us img {
  width: 100%;
  transform: translate(15%, 40%);
}


.stats {
  padding: var(--section-padding) 0px;
  height: fit-content;
  background-image: url(../images/stats.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Medium */
@media (max-width: 991px) {
  .stats .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small */
@media (max-width: 767px) {
  .stats .container {
    grid-template-columns: .8fr;
    justify-content: center;
  }
}

.stats .stat {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  background-color: var(--secondary-color);
}

.stats .stat i {
  font-size: 18px;
  background-color: #000000;
  padding: 10px;
  border-radius: 50%;
}

.stats .stat span:last-of-type {
  font-size: 14px;
}

.stats .stat span:first-of-type {
  font-size: 40px;
  font-weight: bold;
}


.quote {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

.quote .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote q {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
}

.quote span {
  font-size: 18px;
  padding-top: 30px;
  color: #ffffff;
}


.data {
  display: flex;
  justify-content: space-evenly;
  padding: var(--section-padding) 0px;
}

.data h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.data p {
  margin-bottom: 40px;
  text-align: center;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}

.data .testimonials {
  width: 35%;
}



.data .testimonials .person {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.data .testimonials .person-info {
  border-bottom: 1px solid rgba(119, 119, 119, 0.6);
  margin: 0px 30px;
}

.data .testimonials .person-info p {
  margin: 0px;
  margin-bottom: 10px;
  line-height: 1.6;
  color: #000000;
  text-align: left;
}

.data .testimonials .person-info span {
  display: block;
  color: #777;
  text-align: right;
  margin-bottom: 10px;
}


.data .testimonials .person-img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.data .testimonials .person-img img {
  width: 100%;
  border-radius: 50%;
}

.data .testimonials .option-box {
  margin: 0 auto;
}

.data .testimonials .option:not(.active) {
  border-color: #777;
}

.data .skills {
  width: 35%;
}

.data .skills .skill {
  position: relative;
  margin-bottom: 40px;
  margin-top: 20px;
}

.data .skills .skill span {
  text-transform: uppercase;
  font-size: 16px;
}


.data .skills .skill div {
  width: 100%;
  height: 30px;
  background-color: #dedadc;
  position: relative;
}

.data .skills .skill div::before {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: var(--main-color);
}

.data .skills .skill div::after {
  content: "";
  position: absolute;
  left: 90%;
  top: -10%;
  transform: translate(-50%, -50%);
  border: 10px solid transparent;
  border-top-color: #000000;
}

.data .skills .skill h6 {
  margin: 0;
  position: absolute;
  left: 90%;
  top: -10%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}



.pricing {
  padding: var(--section-padding) 0;
}

.subscribe {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-blend-mode: darken;
  padding: var(--section-padding) 0;
}

.subscribe .container {
  display: flex;
  align-items: center;
}

/* Small */
@media (max-width: 767px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe .email-box {
  position: relative;
  height: fit-content;
  display: flex;
}

.subscribe .email-box::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 20px;
  content: "\f0e0";
  position: absolute;
  left: 30px;
  top: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
}

.subscribe input {
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  border-right: none;
  padding: 20px;
  padding-left: 60px;
  caret-color: var(--main-color);
}

.subscribe input::placeholder {
  color: #ffffff;
}

.subscribe .sub-button {
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-left: none;
  background-color: var(--main-color);
  cursor: default;
}

.subscribe p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 80px;
}

/* Small */
@media (max-width: 767px) {
  .subscribe p {
    margin: 0;
    margin-top: 60px;
  }
}

.contact-us {
  padding: var(--section-padding) 0px;
}






.footer {
  padding: var(--section-padding) 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-blend-mode: darken;
  color: #ffffff;
}

.footer img {
  padding-bottom: 20px;
}

.footer>span {
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.footer .socials i {
  padding: 20px 10px;
}

.footer p {
  font-size: 16px;
  padding-top: 20px;
}

.footer p span {
  color: var(--main-color);

}